# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.idea/clem-project_playpen.iml

# exclude model run metadata fil
output
outputs
models--mazzaqq--SFT-base_merged_fp16
kto_trained
wandb

# cursor rules
.cursorrules

# Massimo ignore
test.json
.ipynb_checkpoints
.vscode
/benchmark_results/
/yourname/

# other file types
*.tex

unsloth_compiled_cache
clembench-playpen
clembench-playpen/*
tmp_dpo_cache
tmp_dpo_cache/*

playpen_lora
playpen_lora/*