# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.idea/clem-project_playpen.iml

# exclude model run metadata fil
output
wandb

# cursor rules
.cursorrules

# test json
test.json